.main {
  background: linear-gradient(
    74deg,
    #1a0331 -0.6%,
    #2f0743 50.38%,
    #4b044c 101.36%
  );
  @apply w-screen h-screen pt-10 relative;
}
.main h3 {
  color: #e59aff;
  font-size: 24rem;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  letter-spacing: 0.72rem;
  text-transform: uppercase;
}
.main .starting_date {
  height: 46rem;
  @apply flex gap-[8rem] items-center border-[1.5rem] border-white px-[20rem] py-[12rem] rounded-[12rem];
}
.main .starting_date span {
  color: #fff;
  font-size: 18rem;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  letter-spacing: 0.54rem;
}
.main .indicator {
  background: linear-gradient(84deg, #6950ff 0%, #6950ff 0.01%, #c631fb 100%),
    #d9d9d9;
  @apply min-w-[16rem] h-[16rem] rounded-full;
}

.main .button {
  border-radius: 20rem;
  background: linear-gradient(84deg, #6950ff 0%, #6950ff 0.01%, #c631fb 100%);
  box-shadow: 0rem 15rem 36rem 0rem rgba(198, 49, 251, 0.3);
  color: #fff;
  font-size: 18rem;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  @apply px-[60rem] py-[24rem];
}

@media (min-aspect-ratio: 2.6/1) {
  .main img {
    width: 700rem !important;
  }
}

/* @media (min-width: 1600px) and (max-height: 850px){
  .main img {
    width: 50% !important;
  }  
}

@media (min-width: 1280px) and (max-height: 720px) {
  .main img {
    width: 50% !important;
  }  
  .main .content {
    row-gap: 24rem;
  }
} */
