.main {
  background: linear-gradient(
    74deg,
    #1a0331 -0.6%,
    #2f0743 50.38%,
    #4b044c 101.36%
  );
  @apply w-screen md:h-screen h-auto sm:pt-10 pt-5 relative sm:pb-0 pb-5;
}
.main .radial_gradient {
  width: 100%;
  max-width: 834px;
  border-radius: 100%;
  position: absolute;
  right: 0;
  bottom: 0;
  z-index: 1;
  background: radial-gradient(
    50% 50% at 50% 50%,
    rgba(255, 155, 239, 0.2) 0%,
    rgba(255, 155, 239, 0) 100%
  );
}
.main h3 {
  color: #e59aff;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  letter-spacing: 0.72px;
  text-transform: uppercase;
  @apply xs:text-2xl text-lg;
}
.main .starting_date {
  @apply flex gap-2 items-center border-[1.5px] border-white px-5 py-3 rounded-xl xs:h-[46px] h-10;
}
.main .starting_date span {
  color: #fff;
  font-size: 18px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  letter-spacing: 0.54px;
  @apply xs:text-lg text-base;
}
.main .indicator {
  background: linear-gradient(84deg, #6950ff 0%, #6950ff 0.01%, #c631fb 100%),
    #d9d9d9;
  @apply min-w-[16px] h-4 rounded-full;
}

.main .button {
  border-radius: 20px;
  background: linear-gradient(84deg, #6950ff 0%, #6950ff 0.01%, #c631fb 100%);
  box-shadow: 0px 15px 36px 0px rgba(198, 49, 251, 0.3);
  color: #fff;
  font-size: 18px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  @apply px-[60px] py-6 md:w-auto w-full text-center;
}

@media (min-aspect-ratio: 2.4/1) {
  .main img {
    width: 50% !important;
  }
}
